.App {
  font-family: sans-serif;
  text-align: center;
}
.headStyle {
  margin: 5px;
  padding: 5px;
  border-collapse: separate;
  color: white;
  font-size: calc(15px + 2vmin);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.App-link {
  color: #ff0101;
}
.blog-Style {
  margin-left: 20px;
  margin-top: 20px;
  text-align: left;
  line-height: 21px;
}
.bg-img {
  background-image: url(https://st3.depositphotos.com/1008648/19448/i/450/depositphotos_194485360-stock-photo-digital-3d-rendering-under-construction.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.topNav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
}
